body
  background: #EEE
  menu
    li
      list-style: none
      display: inline-block
      border: 1px solid #EEE
      border-left: 0 none
      padding: 0 4px
      &:first-child
        border: 1px solid #EEE
        border-top-left-radius: 3px
        border-bottom-left-radius: 3px
      &:last-child
        border-top-right-radius: 3px
        border-bottom-right-radius: 3px
      a
        text-decoration: none
        color: link-color
  h2
    clear: both
  .modules
    list-style: none
    li 
      border-bottom: 4px dotted #fff
      h1
        set-baseline(2.5rem)
      h2
        set-baseline(2rem)
      li
        border-bottom: none
