@import 'nib'
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,900,100italic,300italic,300,400italic,500,500italic,700,700italic,900italic);

link-color = #678;
text-color = #666;
form-border = #DDD
font-family = "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
baseline = 1rem;
grid = 300px;
cols = 16;
radius =  3px;
gutter = baseline;

@import "mixins/typography"
@import "mixins/grid"
@import "mixins/forms"
@import "client"
