form
  box-sizing: border-box;
  margin: 0 0
  padding: 0
  display: block
  overflow: visible
  *
    outline: none
  fieldset
    margin: 0 0
    padding: 0
    border: 0 none
    legend
      margin: 0
      padding: 0
      height: baseline
      line-height: baseline
    div
      label
        display: inline-block
        vertical-align: top
        min-width: 150px
      input, textarea
        padding: 10px 20px
        box-sizing: border-box
        border: 1px solid link-color 
        border-radius: 2px
      textarea
        min-width: 99.9%
        min-height: 300px
